.contact {
  padding: 0;
  margin: 0;

  &__wrapper {
    //position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    padding-right: 20px;
    padding-left: 20px;
    //margin: 0;
    box-sizing: border-box;
    /*
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -35px;
      border-left: 160px solid transparent;
      border-right: 160px solid transparent;
      border-top: 35px solid $color_white;
      z-index: 3;
    }
    */
  }

  &__title {
    padding: 0;
    margin: 0;

    @include font(24px, 300, $color_gray, 1.2);
    text-align: center;
  }

  &__list {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 13px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      padding: 0;
      margin: 0;

      @include font(18px, bold, $color_gray, normal);
      text-align: center;
    }

    &-text {
      padding: 0;
      margin: 0;

      @include font(24px, 300, $color_red, normal);
      text-align: center;
    }
  }
}
