.copyright {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  &__text {
    padding: 0;
    margin: 0;

    @include font(14px, normal, $color_gray,  1.29);
  }

  &__link {
    padding: 0;
    margin: 0;
  }

  &__logo {
    padding: 0;
    margin: 0;
    display: block;
  }
}

/*
.copyright {
  display: flex;

  &__text {
    @include font(14px, normal, $color_gray,  1.29, left);
  }
}
*/
