.copyright {
  padding: 0;
  padding-top: 38px;
  margin: 0;
  display: flex;
  align-items: center;

  &__text {
    padding: 0;
    margin: 0;
    margin-right: 14px;

    @include font(14px, normal, $color_gray,  1.29);
  }

  &__link {
    padding: 0;
    margin: 0;
  }

  &__logo {
    padding: 0;
    margin: 0;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    //justify-self: flex-end;
    padding-top: 12px;
    margin-left: auto;
  }
}
