.download {
  padding: 0;
  margin: 0;
  padding-top: 462px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 35px;

    background-color: $bg_dark_blue;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 28px;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    height: auto;
  }

  &__icon {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 0;

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      left: 0;
    }

    &--apple::before {
      width: 47px;
      height: 56px;
      background: url("../img/logo-apple.svg") no-repeat;
    }

    &--android::before {
      width: 43px;
      height: 47px;
      background: url("../img/logo-android.svg") no-repeat;
    }

    &--windows::before {
      width: 44px;
      height: 41px;
      background: url("../img/logo-microsoft.svg") no-repeat;
    }
  }

  &__desc {
    padding: 0;
    margin: 0;

    @include font(14px, 300, $color_white,  1.71);
    text-align: center;
  }

  &__slogan {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .download {
    padding-top: 0;
    margin: 0;
    height: 545px;
    border: 1px solid palevioletred;
    width: $tablet-width;

    background-color: transparent;

    &__wrapper {
      //width: $tablet-width;

      min-height: 545px;
      margin: 0;
      background-color: transparent;
      border: 3px solid greenyellow;
    }

    &__slogan {
      display: block;
      padding: 0;

      margin: 0;
      margin-bottom: 45px;

      @include font(40px, 300, $color_white,  1);
      text-align: center;
    }

    &__desc {
      font-size: 18px;
      line-height: 1.33;
    }
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-top: 20px;
    width: $desktop-width;
    min-height: 650px;

    &__wrapper {
      width: 50%;
    }
  }
}
