.download {
  padding-top: 462px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 35px;

    background-color: $bg_dark_blue;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 28px;
    list-style: none;

  }

  &__item {
    margin: 0;
    padding: 0;
    height: 56px;
  }

  &__icon {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 0;

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      left: 0;
    }

    &--apple::before {
      width: 47px;
      height: 56px;
      background: url("../img/logo-apple.svg") no-repeat;
    }

    &--android::before {
      width: 43px;
      height: 47px;
      background: url("../img/logo-android.svg") no-repeat;
    }

    &--windows::before {
      width: 44px;
      height: 41px;
      background: url("../img/logo-microsoft.svg") no-repeat;
    }
  }

  &__desc {
    padding: 0;
    margin: 0;

    @include font(14px, 300, $color_white,  1.71);
  }

}
/*
.download {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: $bg_dark_blue;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    margin: 0;
    padding: 0;
    height: 47px;
    width: 56px;
    border: 1px solid coral;
    font-size: 0;
  }

  &__icon {
    height: 47px;
    width: 56px;
    border: 1px solid white;
  }

  &__icon::before {
    content: "";
    display: block;
    position: relative;
    background: url("/img/logo-apple.svg") no-repeat;
    background-size: 20px 40px;
    top: 0;
    left: 0;


  }

  &__icon--apple {
    background-size: 47px 56px;
  }

  &__desc {
    @include font(14px, 300, $color_white,  1.71, center);
  }

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
.button--download {
  box-sizing: border-box;
  height: 55px;
  padding-top: 13px;
}

@media (min-width: $desktop-width) {

}
*/
