.features {
  background-color: $color_white;

  &__slogan {
    @include font(24px, 300, $color_gray, 1, center);
  }

  &__wrapper--slogan {
    margin-top: 46px;
  }

  &__wrapper--list {
    background-color: $bg_gray;
  }

  &__list {
    @include list_none;
  }

  &__item {
    padding-top: 40px;
  }

  &__item:last-child {
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }

  &__title {
    @include font(18px, bold, $color_gray, 1.71, center);
  }

  &__description {
    @include font(14px, normal, $color_gray, 1.71, center);
  }
}
