.features {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 320px;

    &--slogan {
      padding-top: 46px;
      padding-bottom: 26px;
    }

    &--list {
      padding: 0;
      margin: 0;
      background-color: $bg_gray;
    }
  }

  &__slogan {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    @include font(24px, 300, $color_gray, 1);
    text-align: center;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    width: 320px;
    display: flex;
    flex-direction: column;

    &:last-child {
      &::after {
        content: "";
        display: block;
        position: relative;
        bottom: -40px;
        left: 320px/2 - 157px/2;
        width: 157px;
        height: 285px;

        background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
      }
    }
  }

  &__title {
    padding: 0;
    margin: 0;

    @include font(18px, bold, $color_gray, 1.71);
    text-align: center;
  }

  &__description {
    padding: 0;
    margin: 0;

    @include font(14px, normal, $color_gray, 1.71);
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .features {
    &__wrapper {
      width: $tablet-width;
    }

    &__slogan {
      font-size: 40px;
    }

    &__list {
      padding: 0;
      padding-left: 50%;
    }

    &__title {
      text-align: left;
    }

    &__description {
      text-align: left;
    }
  }
}


/*
.features {
  background-color: $color_white;

  &__slogan {
    padding-top: 20px;
    @include font(24px, 300, $color_gray, 1, center);
  }

  &__wrapper--slogan {
    padding-bottom: 35px;
  }

  &__wrapper--list {
    background-color: $bg_gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding-top: 0px;
  }
  &__item:last-child {
    min-height: 450px;
  }
  &__item:last-child::after {
    content: "";
    display: block;
    position: relative;
    bottom: -20px;
    width: 100%;
    height: 280px;
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }

  &__title {
    @include font(18px, bold, $color_gray, 1.71, center);
  }

  &__description {
    @include font(14px, normal, $color_gray, 1.71, center);
  }
}

@media (min-width: $desktop-width) {
  .features {
    &__slogan {
      @include font(50px, normal, $color_gray, 1, center);
    }

    &__list {
      flex-direction: row;
    }

    &__title {
      @include font(30px, bold, $color_black, 1.67, center);
    }
    &__description {
      @include font(18px, normal, $color_gray, 1.67, center);
    }
  }
}

*/
