.form {
  &__fieldset {
    padding: 0;
    margin: 0;
    border: solid 2px $color_line_table;
  }

  &__legend {
    padding: 0 14px;
    margin: 0 auto;

    @include font(14px, normal, $color_red,  1.29);
    @include upper;
    text-align: center;
  }

  &__label-text {
    padding: 0;
    margin: 0;

    @include font(14px, normal, $color_red,  2.14);
    @include upper;
    cursor: pointer;
  }

  &__label-value {
    position: relative;
    padding: 0;
    padding-top: 7px;
    margin: 0;

    @include font(18px, normal, $color_gray,  2.2);
    text-align: center;
    cursor: pointer;
  }

  &__input {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
    border: solid 2px $color_line_table;
    outline: none;
    cursor: pointer;

    @include font(18px, normal, $color_gray,  1.67);

    &:hover {
      border: solid 2px $color_gray;
    }

    &:focus {
      border: solid 2px $color_red;
    }

    &::placeholder {
      padding: 0;
      margin: 0;

      @include font(18px, normal, $color_gray,  1.67);
    }
  }
}

@media (max-width: $mobile-width-only) {
  .form {
    &__fieldset {
      padding: 0;
      width: $mobile-width - 40px;
      margin: 0 auto;
      outline: none;
      border: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .form {
    &__fieldset {
      padding: 44px 58px 54px;
    }
  }
}
