@import "mixins.scss";
@import "../variables.scss";

.main-nav {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  &__toogle {
    position: absolute;
    top: -66px;
    right: 0;

    height: 66px;
    font-size: 0;
    border-style: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
    flex-direction: row;
  }
}

