.page-footer {
  padding: 0;
  margin: 0;
  //border: 1px solid chocolate;

  &__wrapper {
    padding: 0;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link-home {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  &__logo {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .page-footer--none {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    &__wrapper {
      flex-direction: row;
      align-items: flex-start;
      padding: 0 130px;
      padding-top: 70px;
      padding-bottom: 76px;
    }

    &__link-home {
      padding: 0;
      margin: 0;
    }
  }
}
