.page-footer {
  padding: 0;
  margin: 0;
  //margin: 0 auto;
  border: 1px solid chocolate;

  &__wrapper {
    padding: 0;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__link-home {
    padding: 0;
    margin: 0;
  }

  &__logo {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .page-footer--none {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
