.page-main {
  display: block;
  padding: 0;
  position: relative;
  margin: 0;
  width: 100%;

  &__wrapper {
    &--title {
      //padding: 0;
      padding-top: 30px;
      padding-right: 20px;
      padding-left: 20px;

      min-height: 170px;
      display: flex;
      flex-direction: column;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -67px;
        left: 0;
        height: 462px;
        width: 100%;
        background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
        background-size: cover;
        background-position: center 0;
        z-index: -1;
      }
    }

    &--download {
      //margin: 0;
      padding-top: 395px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -67px;
        left: 0;

        height: 462px;
        width: 100%;
        background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
        background-size: cover;
        background-position: center 0;
        z-index: -1;
      }
    }

    &--description {
      padding: 46px 20px 48px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      background-color: $color_white;
    }
  }

  &__title {
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: $color_white;
    line-height: 1.2;
    text-align: center;
  }

  &__description {
    padding: 0;
    margin: 0;

    @include font(14px, 300, $color_gray,  2.2);
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    &__wrapper {
      &--title {
        //padding: 0;
        padding-top: 69px;
        padding-right: 20px;
        padding-left: 20px;
        min-height: 329px;

        &::before {
          top: -111px;
          left: 0;
          height: 729px;
          background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
        }
      }

      &--download {
        padding-top: 64px;

        &::before {
          top: -111px;
          left: 0;
          height: 729px;
          background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
        }
      }

      &--description {
        padding-top: 90px;
        padding-bottom: 80px;
      }
    }

    &__title {
      @include font(50px, 300, $color_white,  1.2);
    }

    &__description {
      @include font(18px, normal, $color_gray,  1.67);
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    &__wrapper {
      &--title {
        padding: 63px 70px;
        min-height: 284px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -112px;
          left: 0;
          height: 853px;
          background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
        }
      }

      &--download {
        padding-top: 97px;

        &::before {
          top: -112px;
          left: 0;
          height: 853px;
          background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
        }
      }

      &--description {
        padding: 90px 20px;
        //padding-bottom: 80px;
      }
    }
  }
}
