.page-footer {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  border: 1px solid chocolate;

  &__wrapper {
    padding: 0;
    padding: 40px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__link-home {
    padding: 0;
    margin: 0;
  }

  &__logo {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;

    &__wrapper {
      width: $tablet-width;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;

    &__wrapper {
      width: $desktop-width;
    }
  }
}

