@import "mixins.scss";
@import "variables.scss";

.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: $bg_dark_blue;

  &__logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 66px + 3px; //+3 'это только для открытого типа
    //opacity: 0.3; это для закрытого типа
    box-shadow: 0 1px 0 0 $color_black;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;

    &__logo {
      height: 109px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
    flex-direction: row;
    background-color: transparent;
  }
}

