@import "variables.scss";
@import "mixins.scss";

.photo {
  padding: 0;
  margin: 0;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    &--title {
      .photo__post {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  &__picture {
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__image {
    padding: 0;
    margin: 0;
    display: block;
  }

  &__hit {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    background-color: $color_red;

    @include font(12px, bold, $color_white,  2);
    @include upper;
  }

  &__post {
    padding: 0;
    margin: 0;
    background-color: $bg_gray;
    border: 1px solid coral;
  }

  &__author {
    padding: 0;
    margin: 0;
  }

  &__author-name {
    padding: 0;
    margin: 0;

    @include font(14px, bold, $color_gray,  1.71);
    font-style: normal;
  }

  &__date-post {
    @include upper;
    @include font(12px, 300, $color_gray,  1.71);
  }

  &__comment {
    padding: 0;
    margin: 0;

    @include font(14px, 300, $color_gray,  1.71);
  }

  &__likes {
    @include upper;
    @include font(12px, normal, $color_red,  2);
  }

  &__wrapper {
    //width: 320px - 40px;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__slogan {
    padding: 0;
    margin: 0;

    @include font(14px, normal, $color_gray,  2.14);
    text-align: center;
    border: 1px solid cornflowerblue;
  }
}


@media (min-width: $tablet-width) {
  .photo {
    width: $tablet-width;

    &__wrapper {
      width: $tablet-width;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .photo__item {
        width: 300px;
      }
    }

    &__slogan {
      @include font(18px, normal, $color_gray,  1.67);
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    width: $desktop-width;

    &__wrapper {
      width: $desktop-width;
    }
  }
}

