.price {
  padding: 0;
  margin: 0;

  &__wrapper {
    width: 100%;
    padding-top: 93px;
  }

  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  thead {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $color_gray;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  tbody {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: solid 2px $color_line_table;
    border-collapse: collapse;

    &--title {
      border-top: none;
      border-bottom: none;
    }
  }

  &__cell-title {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 22px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    box-sizing: border-box;
    border-left: solid 2px $color_line_table;
    border-right: solid 2px $color_line_table;

    &:first-child {
      display: none;
    }
  }

  &__title-text {
    padding: 0;
    margin: 0;

    @include upper;
    @include font(18px, bold, $color_white, 1.67);
  }

  &__cost {
    padding: 0;
    margin: 0;

    @include font(24px, 300, $color_white, 1.25);
  }

  &__cell-function {
    width: 231px;
    padding: 0;
    padding-top: 15px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    margin: 0;
    box-sizing: border-box;

    @include font(14px, normal, $color_gray, 2.14);
    @include upper;
    border-left: solid 2px $color_line_table;
  }

  &__cell-free {
    position: relative;
    padding: 0;
    margin: 0;
    padding-right: 16px;
    width: 31px;
    height: inherit;
    font-size: 0;
    border-right: solid 2px $color_line_table;

    &--true {
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: -7px;
        left: 0;
        width: 25px;
        margin-top: 50%;
        height: 14px;
        border-left: 4px solid $color_green;
        border-bottom: 4px solid $color_green;
        transform: rotate(-45deg);
      }
    }

    &--false {
      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: -14px;
        left: 13px;
        height: 35px;
        width: 4px;
        margin-top: 50%;
        background-color: $color_orange;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__toggles {
    padding-top: 40px;
    padding-bottom: 47px;
    background-color: $bg_gray;
  }
}
