.range-toggle {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 2px solid $color_red;
  border-radius: 50%;
  background-color: $bg_gray;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color_red;
  }
}
