.slider {
  &__toggles {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__toggle {
    padding: 0;
    margin-right: 13px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: block;
      position: relative;
      box-sizing: border-box;

      width: 6px;
      height: 6px;
      opacity: 0.3;
      border: solid 3px transparent;
      border-radius: 50%;
      left: 3px;
      background-color: $color_gray;
    }

    &:hover {
      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      &::before {
        opacity: 0.1;
      }
    }

    &--active {
      &::before {
        left: 0;
        width: 12px;
        height: 12px;
        border: solid 3px $color_gray;
        background-color: $color_white;
        opacity: 1;
      }

      &:active,
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
