.social {
  padding: 0;
  margin: 0;

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-right: 11px;
    height: 52px;
    width: 52px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    padding: 0;
    margin: 0;
    font-size: 0;

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      padding: 0;
      margin: 0;
      width: 46px;
      height: 46px;
      opacity: 0.1;
      border: solid 3px $color_gray;
      border-radius: 50%;
      background-color: $bg_lite_gray;
    }

    &--twitter::before {
      background: url("../img/icon-twitter.svg") no-repeat 19px 15px;
      background-position: center;
    }

    &--facebook::before {
      background: url("../img/icon-facebook.svg") no-repeat 9px 19px;
      background-position: center;
    }

    &--youtube::before {
      background: url("../img/icon-youtube.svg") no-repeat 15px 14px;
      background-position: center;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    &__list {
      padding-left: 73px;
    }
  }
}
