.story {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color_white;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 0;
    //width: $mobile-width - 40px;
    //margin: 0 auto;

    @include font(14px, normal, $color_gray,  2.14);
    text-align: center;
  }

  &__user {
    //width: $mobile-width - 40px;
    padding: 0;
    padding-top: 36px;
    padding-bottom: 25px;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-item {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    label {
      padding-left: 22px;
      margin-bottom: 6px;
    }

    input {
      margin-bottom: 17px;
      height: 63px;
    }
  }

  &__achieve {
    width: 100%;
    padding: 0;
    padding-top: 38px;
    margin: 0;
    display: flex;
    flex-direction: column;
    //background-color: $bg_gray;

    fieldset {
      display: flex;
      flex-direction: column;
    }

    //&-title {
      //padding-bottom: 39px;
    //}

    &-checkbox {
      padding: 0;
      margin: 0;
      margin-bottom: 43px;

      label {
        padding-left: 69px;
      }


      input + label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        width: 35px;
        height: 35px;
        background-color: $color_white;
        border: 2px solid $color_line_table;
      }

      input:checked + label::before {
        background-image: url("../img/icon-yes.svg");
        background-size: 22px 16px;
        background-repeat: no-repeat;
        background-position: 7px 9px;
      }
    }
  }

  &__contact {
    padding: 0;
    //width: $mobile-width - 40px;
    //margin: 0 auto;

    display: flex;
    flex-direction: column;

    fieldset {
      display: flex;
      flex-direction: column;
      //padding-top: 31px;
      //padding-bottom: 25px;
    }

    &-title {
      display: none;
    }

    &-item {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    label {
      padding-left: 22px;
      margin-bottom: 6px;
    }

    input {
      margin-bottom: 17px;
      height: 63px;
    }
  }

  &__OS {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    //background-color: $bg_gray;

    fieldset {
      display: flex;
      flex-direction: column;
      //padding-bottom: 6px;
    }

    /*
    &-title {
      //padding-top: 38px;
      padding-top: 44px;
      padding-bottom: 35px;
    }
    */

    &-radio {
      padding: 0;
      margin: 0;
      margin-bottom: 36px;

      label {
        padding-left: 69px;
      }


      input + label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        width: 35px;
        height: 35px;
        background-color: $color_white;
        border: 2px solid $color_line_table;
        border-radius: 50%;
      }

      input:checked + label::after {
        content: "";
        position: absolute;
        left: 12px;
        top: 12px;
        width: 15px;
        height: 15px;
        background-color: $color_red;
        border-radius: 50%;
      }
    }
  }

  &__text {
    padding: 0;
    //width: $mobile-width - 40px;
    //margin: 0 auto;

    display: flex;
    flex-direction: column;

    fieldset {
      display: flex;
      flex-direction: column;
    }

    //&-title {
      //padding-top: 38px;
      //padding-bottom: 16px;
    //}

    textarea {
      width: 100%;
      padding-top: 15px;
      height: 201px;
    }
  }

  &__send {
    padding: 0;
    padding-top: 48px;
    //width: $mobile-width - 40px;
    //margin: 0 auto;

    display: flex;
    flex-direction: column;

    &-button {
      padding: 16px 0;
      margin: 0;

      @include font(18px, bold, $color_white,  1.67);
      @include upper;
      text-align: center;
      border: none;
      background-color: $color_jade-green;
    }

    &-notes {
      padding: 0;
      padding-top: 36px;
      margin: 0;

      @include font(14px, normal, $color_gray,  2.14);
      @include upper;
      text-align: center;

      span:first-child {
        color: $color_red;
      }

      span:not(:first-child) {
        font-size: 0;
      }
    }
  }
}

@media (max-width: $mobile-width-only) {
  .story {
    &__wrapper {
      width: 100%;
      padding-top: 46px;
      padding-bottom: 16px;
    }

    &__title {
      span {
        display: none;
      }
    }

    &__title,
    &__user,
    &__contact,
    &__text,
    &__send {
      width: $mobile-width - 40px;
      margin: 0 auto;
    }

    &__achieve,
    &__OS {
      background-color: $bg_gray;
    }

    &__OS {
      fieldset {
        padding-bottom: 6px;
      }
      &-title {
        //padding-top: 38px;
        padding-top: 38px;
        padding-bottom: 35px;
      }
    }

    &__contact {
      fieldset {
        padding-top: 31px;
        padding-bottom: 25px;
      }
    }

    &__achieve {
      &-title {
        padding-bottom: 39px;
      }
    }

    &__text {
      &-title {
        padding-top: 38px;
        padding-bottom: 16px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .story {
    &__wrapper {
      padding: 75px 20px 0;
    }

    &__title {
      order: 1;
      padding: 0 30px;
      margin-bottom: 70px;
      font-size: 18px;
      line-height: 1.67;
    }

    &__user {
      order: 2;
      padding: 0;

      &-item {
        flex-direction: row;
        align-items: center;
        margin-bottom: 52px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          margin: 0;
          padding-left: 0;
          padding-right: 18px;
        }

        input {
          margin: 0;
          flex-grow: 1;
        }
      }
    }

    &__OS {
      order: 3;
      padding-top: 58px;

      &-radio {
        &:last-child {
          margin-bottom: 0;
        }
      }

      label {
        padding-left: 59px;
      }
    }

    &__contact {
      padding-top: 57px;
      order: 4;

      &-title {
        display: block;
      }

      &-item {
        flex-direction: column-reverse;
      }

      fieldset {
        padding-top: 37px;
        padding-bottom: 27px;
      }

      &-item {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      label {
        margin: 0;
      }

      input {
        margin: 0;
        margin-bottom: 10px;
      }
    }

    &__achieve {
      order: 5;
      padding: 57px 0 0;

      fieldset {
        padding-bottom: 48px;
      }

      &-checkbox {
        &:last-child {
          margin: 0;
        }
      }

      label {
        padding-left: 59px;
      }
    }

    &__text {
      padding-top: 57px;
      order: 6;

      fieldset {
        padding-top: 37px;
        padding-bottom: 51px;
      }

      textarea {
        height: 193px;
      }
    }

    &__send {
      order: 7;
      padding-top: 67px;
      padding-bottom: 57px;
      flex-direction: row;
      //justify-content: space-between;
      align-items: center;

      &-button {
        box-sizing: border-box;
        width: 300px;
      }

      &-notes {
        box-sizing: border-box;
        padding-top: 0;
        margin-left: auto;
      }
    }

  }
}

@media (min-width: $desktop-width) {
  .story {
    &__wrapper {
      padding-left: 130px;
      padding-right: 130px;
    }

    &__form {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      padding: 0 70px;

      br {
        display: none;
      }
    }

    &__user {
      width: 435px;
      padding-top: 15px;
    }

    &__OS {
      width: 435px;
      margin-left: auto;
      padding-top: 0;

      fieldset {
        padding: 44px 30px 54px;
      }

      &-radio {
        padding-left: 44px;
      }
    }

    &__achieve {
      fieldset {
        flex-direction: row;
        padding-top: 37px;
        padding-bottom: 19px;
        //flex-wrap: wrap;
        justify-content: space-between;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-checkbox {
        margin: 0;
        //margin-right: 2px;
        padding-bottom: 43px;
        padding-right: 10px;
        width: 26%;
        //flex: 1;
        &:nth-child(2n) {
          order: 2;
        }
      }
    }

    &__contact {
      width: 100%;
      fieldset {
        padding-top: 34px;
        padding-bottom: 14px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        padding-top: 0;
        margin: 0;
        width: 375px;
      }
    }

    &__text {
      width: 100%;

      fieldset {
        padding-top: 34px;
        padding-bottom: 43px;
      }

      textarea {
        height: 128px;
      }
    }

    &__send {
      width: 100%;
      padding-top: 65px;
      padding-bottom: 40px;

      &-notes {
        span:not(:first-child) {
          font-size: inherit;
        }
      }
    }
  }
}
