.article-news {
  display: none;
}

@media (min-width: $tablet-width) {
  .article-news {
    display: block;
    padding: 0;
    margin: 0;

    min-height: 387px;


    &__wrapper {
      position: relative;
      padding: 0;
      padding-top: 95px;
      padding-left: 329px;
      display: flex;
      flex-direction: column;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 58px;
        left: 20px;
        width: 238px;
        height: 276px;

        background: url("../img/icon-timer.svg") no-repeat;
        background-size: contain;
      }

      &::after {
        content: "24";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 114px;
        left: 39px;
        width: 202px;
        height: 202px;
        border: 13px solid #d22856;
        border-radius: 50%;

        @include font(96px, bold, $color_red, 1.71);
        text-align: center;
      }
    }

    &__title {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;

      @include font(30px, bold, $color_black, 1.2);
    }

    &__desc {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;

      @include font(14px, normal, $color_gray, 1.72);
    }

    &__link {
      margin: 0;
      padding: 0;

      @include font(14px, normal, $color_red, 1.71);

      a {
        color: inherit;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .article-news {
    background-color: $bg_gray;

    &__wrapper {
      padding-left: 496px;
      padding-right: 130px;
      padding-top: 109px;
      padding-bottom: 46px;
      min-height: 429px;

      &::before {
        top: 17px;
        left: 130px;
        width: 298px;
        height: 345px;
      }

      &::after {
        top: 87px;
        left: 153px;
        width: 253px;
        height: 253px;
        border: 17px solid $color_red;

        font-size: 120px;
      }
    }

    &__title {
      padding-bottom: 11px;

      br {
        display: none;
      }
    }

    &__desc {
      margin-bottom: 31px;
      font-size: 18px;
      line-height: 1.67;
    }

    &__link {
      font-size: 18px;
      line-height: 1.67;
    }
  }
}
