.contact {
  padding: 0;
  margin: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  &__title {
    padding: 0;
    margin: 0;

    @include font(24px, 300, $color_gray, 1.2);
    text-align: center;
  }

  &__list {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 13px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      padding: 0;
      margin: 0;

      @include font(18px, bold, $color_gray, normal);
      text-align: center;
    }

    &-text {
      padding: 0;
      margin: 0;

      @include font(24px, 300, $color_red, normal);
      text-align: center;

      &--link {
        a {
          position: relative;
          color: inherit;
          text-decoration: none;
        }

        a:hover,
        a:active {
          color: $color_gray;

          &::before {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: $color_gray;
            left: 0;
            bottom: 2px;
          }
        }

        a:active {
          opacity: 0.3;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .contact {
    &__wrapper {
      padding-top: 46px;
    }

    &__title {
      padding: 0 120px;
      font-size: 40px;
    }

    &__list {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      padding-top: 43px;
      padding-bottom: 25px;
    }

    &__item {
      width: 50%;
      padding-bottom: 47px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contact {
    &__wrapper {
      padding-right: 0;
      padding-left: 0;
      padding-top: 64px;
    }

    &__title {
      font-size: 50px;
    }

    &__list {
      padding-top: 57px;
    }

    &__item {
      width: 320px;
      padding-bottom: 0;

      &:nth-child(2) {
        order: 1;
      }

      &-text {
        padding-top: 22px;
        line-height: 1.21;
      }
    }
  }
}
