@import "variables.scss";
@import "mixins.scss";

.photo {
  padding: 0;
  margin: 0;
  background-color: $color_white;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    &--title {
      .photo__post {
        width: 246px;
        margin: 0 auto;
        //padding: 18px 17px 20px;
      }

      .photo__image {
        height: 137px;
        object-fit: cover;
      }
      /*
      .photo__like {
        padding-top: 9px;
      }
      */
    }
  }

  &__picture {
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__image {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
  }

  &__hit {
    position: relative;
    display: block;
    width: $mobile-width;
    top: 0;
    right: 0;
    margin: 0 auto;

    &::before {
      content: "Панорама дня";
      position: absolute;
      top: 0;
      right: 20px;
      display: block;
      padding: 6px 20px;
      text-align: center;
      background-color: $color_red;

      @include font(12px, bold, $color_white,  2);
      @include upper;
    }
  }

  &__post {
    display: flex;
    flex-direction: column;
    //padding: 18px 17px 26px;
    padding: 18px 17px 20px;

    margin: 0;

    @include font(14px, normal, $color_gray,  24px);
    background-color: $bg_gray;
  }

  &__author {
    padding: 0;
    margin: 0;
  }

  &__author-name {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-style: normal;
  }

  &__date-post {
    @include upper;
    font-size: 12px;
  }

  &__comment {
    padding: 0;
    margin: 0;
    font-weight: 300;
  }

  &__like {
    padding: 0;
    margin: 0;
    //padding-top: 13px;
    padding-top: 9px;
    display: flex;
    align-items: center;

    @include upper;
    font-size: 12px;
    color: $color_red;
    border: none;
    background-color: transparent;
    outline: none;
  }

  &__like-icon {
    margin-right: 20px;
    width: 13px;
    height: 12px;

    display: block;
    fill: $color_red;
  }

  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__slogan {
    padding: 24px 0 44px;
    margin: 0;

    @include font(14px, normal, $color_gray,  2.14);
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .photo {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .photo__item {
        width: 300px;
        box-sizing: border-box;
      }
    }

    &__hit {
      width: $tablet-width;

      &::before {
        top: 55px;
      }
    }

    &__post {
      padding: 24px 27px;
      min-height: 155px;
      box-sizing: border-box;
    }

    &__like {
      justify-self: flex-end;
      padding: 0;
      margin-top: auto;
      line-height: 1.5;
    }

    &__like-icon {
      order: 2;
      margin-left: auto;
      margin-right: 4px;
    }

    &__item--title {
      margin-bottom: 50px;

      .photo__image {
        height: 509px;
      }

      .photo__post {
        width: 620px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        min-height: 0;
      }

      .photo__comment {
        order: 2;
      }

      .photo__like {
        margin: 0;
        margin-left: auto;
      }

      .photo__like-icon {
        order: 2;
        margin-left: 16px;
      }
    }

    &__slogan {
      padding-top: 43px;
      padding-bottom: 69px;

      @include font(18px, normal, $color_gray,  1.67);
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    &__wrapper {
      padding: 0 130px;
    }

    &__item {
      margin-bottom: 54px;
    }

    &__item--title {
      margin-bottom: 50px;

      .photo__post {
        width: 940px;
      }

      .photo__image {
        height: 506px;
      }
    }

    &__hit {
      width: $desktop-width;

      &::before {
        right: 130px;
      }
    }

    &__slogan {
      padding: 5px 20px 65px;
    }
  }
}
