.price {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $bg_gray;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 32px;
  }

  &__wrapper {
    padding-top: 98px;
  }

  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  thead,
  tbody {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  &__cell-title {
    position: relative;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 22px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    box-sizing: border-box;
    background-color: $color_gray;

    &--hit {
      &::after {
        position: absolute;
        content: "хит";
        transform: rotate(-45deg);
        display: block;
        top: 11px;
        left: 9px;

        @include font(14px, normal, $color_white,  2.1);
        @include upper;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -2px;
        width: 74px;
        height: 73px;
        background-image: url("../img/bg-hit.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__title-text {
    padding: 0;
    margin: 0;

    @include upper;
    @include font(18px, bold, $color_white, 1.67);
  }

  &__cost {
    padding: 0;
    margin: 0;

    @include font(24px, 300, $color_white, 1.25);
  }

  &__cell-function {
    padding: 0;
    padding-top: 15px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    margin: 0;
    box-sizing: border-box;
    background-color: $color_white;

    @include font(14px, normal, $color_gray, 2.14);
    @include upper;
  }

  &__cell-free {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
    background-color: $color_white;

    &--true {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        background-size: cover;

        top: 10px;
        left: -14px;

        margin-left: 50%;
        width: 31px;
        height: 22px;
      }
    }

    &--false {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        background-size: cover;

        top: 7px;
        left: -14px;
        margin-left: 50%;
        width: 27px;
        height: 26px;
      }
    }
  }

  &__toggles {
    padding-top: 40px;
    padding-bottom: 47px;
    background-color: $bg_gray;
  }
}

@media (max-width: $mobile-width-only) {
  .price {
    &__wrapper {
      width: 100%;
    }

    thead {
      background-color: $color_gray;
    }

    &__item {
      border-bottom: solid 2px $color_line_table;
      border-collapse: collapse;

      &--title {
        border-top: none;
        border-bottom: none;
      }
    }

    &__cell-title {
      border-left: solid 2px $color_line_table;
      border-right: solid 2px $color_line_table;

      &:first-child {
        display: none;
      }
    }

    &__cell-function {
      width: 231px;
      border-left: solid 2px $color_line_table;
    }

    &__cell-free {
      width: 49px;
      border-right: solid 2px $color_line_table;

      &--true {
        &::before {
          top: 19px;
          left: -24px;
        }
      }

      &--false {
        &::before {
          top: 15px;
          left: -23px;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .price {
    &::before {
      height: 50px;
      background-size: 100% 50px;
    }
    background-color: $bg_gray;

    &__wrapper {
      padding: 87px 22px 68px;
    }


    &__cell-title {
      width: 153px;
      padding-top: 12px;
      padding-bottom: 9px;

      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $color_line_table;
      border-bottom: none;

      &:first-child {
        background-color: transparent;
        border: none;
      }

      &:last-child {
        border-right: none;
      }

      &--hit {
        &::after {
          top: 1px;
          left: 6px;
        }

        &::before {
          top: -2px;
          left: -2px;
          width: 61px;
          height: 61px;
          background-image: url("../img/bg-hit-tablet.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    &__title-text {
      font-size: 16px;
    }

    &__cost {
      font-size: 18px;
      line-height: 1.67;
    }

    &__cell-function {
      width: 153px;
      padding: 6px 12px 8px;
      border-top: 2px solid transparent;
      border-right: 2px solid $color_line_table;
      border-left: 2px solid $color_line_table;
      border-bottom: 2px solid $color_line_table;
      text-transform: none;

      .price__item:first-child & {
        border-top: 2px solid $color_line_table;
      }
    }

    &__cell-free {
      width: 153px;
      border-top: 2px solid transparent;
      border-right: 2px solid $color_line_table;
      border-left: 2px solid transparent;
      border-bottom: 2px solid $color_line_table;
    }


    &__toggles {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    &::before {
      height: 83px;
      background-size: 100% 83px;
    }

    &__wrapper {
      padding: 148px 10px 95px;
    }

    &__cell-title,
    &__cell-function,
    &__cell-free {
      width: 235px;
    }

    &__cell-title {
      &--hit {
        &::after {
          top: 10px;
          left: 10px;
        }

        &::before {
          top: -2px;
          left: -2px;
          width: 74px;
          height: 73px;
          background-image: url("../img/bg-hit.svg");
        }
      }
    }

    &__title-text {
      font-size: 18px;
      padding-top: 2px;
    }

    &__cost {
      font-size: 24px;
      line-height: 1.25;
      padding-bottom: 13px;
    }

    &__cell-function {
      font-size: 18px;
      line-height: 1.67;
      padding: 12px 21px 15px;
    }

    &__cell-free {
      &--true {
        &::before {
          top: 18px;
        }
      }

      &--false {
        &::before {
          top: 14px;
        }
      }
    }
  }
}
