.reviews {
  padding: 0;
  margin: 0;

  &__wrapper {
    padding: 24px 20px 35px;
  }

  &__slider {
    display: none;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0;
    padding-top: 19px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__author-name {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;

    @include font(18px, bold, $color_black, 1.67);
  }

  &__author-about {
    display: none;
  }

  &__text {
    padding: 0;
    margin: 0;

    @include font(14px, normal, $color_gray, 2.14);
    text-align: center;
  }

  &__toggles {
    margin-top: 37px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    &__wrapper {
      //padding-bottom: 70px;
      padding-bottom: 21px;
    }

    &__item {
      padding-top: 21px;
    }

    &__author-name {
      padding-top: 33px;
      margin: 0;
      font-size: 20px;
    }

    &__author-about {
      padding: 0;
      margin: 0;
      display: block;

      @include font(14px, normal, $color_gray, 2.14);
      text-align: center;
    }

    &__text {
      order: -1;

      @include font(18px, normal, $color_gray, 1.67);
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    &__wrapper {
      position: relative;
      padding-top: 166px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      width: 980px;


      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 74px;
        left: -36px;
        margin-left: 50%;
        width: 79px;
        height: 63px;

        background-image: url("../img/icon-quotes.svg");
        background-repeat: no-repeat;
        background-size: 79px 63px;
      }
    }

    &__list {
      width: 790px;
    }

    &__slider {
      display: block;
      margin-top: 48px;
      width: 22px;
      height: 41px;
      font-size: 0;
      border: none;
      outline: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;

      &--back {
        background-image: url("../img/icon-review-arrow-left.svg");
      }

      &--next {
        background-image: url("../img/icon-review-arrow-right.svg");
      }
    }

    &__author-name {
      padding-top: 30px;
      margin-bottom: 0;
      font-size: 24px;
    }

    &__author-about {
      line-height: 1.6;
      font-size: 18px;
    }

    &__toggles {
      display: none;
    }
  }
}
