.social {
  padding: 0;
  margin: 0;

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    margin-right: 11px;
    height: 52px;
    width: 52px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;

    display: block;
    width: 46px;
    height: 46px;
    border: solid 3px rgba($color_gray, 0.1);
    border-radius: 50%;
    background-color: $bg_lite_gray;

    &:hover {
      border: solid 3px $color_gray;
    }

    &:active {
      border: solid 3px rgba($color_gray, 0.1);

      .social__icon {
        opacity: 0.3;
      }
    }
  }

  &__icon {
    position: absolute;
    fill: $color_red;

    &--twitter {
      top: 15px;
      left: 14px;
      width: 19px;
      height: 15px;
    }

    &--facebook {
      top: 12px;
      left: 18px;
      width: 9px;
      height: 19px;
    }

    &--youtube {
      top: 15px;
      left: 17px;
      width: 15px;
      height: 14px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    &__list {
      padding-left: 73px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    &__list {
      padding-left: 233px;
    }
  }
}
