.story {
  &__text {
    padding: 0;

    display: flex;
    flex-direction: column;

    textarea {
      width: 100%;
      padding-top: 15px;
      height: 201px;
    }
  }
}

@media (min-width: $tablet-width) {
  .story {
    &__text {
      padding-top: 57px;
      order: 6;

      fieldset {
        padding-top: 37px;
        padding-bottom: 45px;
      }

      textarea {
        height: 193px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .story {
    &__text {
      width: 100%;

      fieldset {
        padding-top: 34px;
        padding-bottom: 37px;
      }

      textarea {
        height: 128px;
      }
    }
  }
}
