@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

body {
  margin: 0;
  min-width: 320px;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: "left";
  color: #283645; }

@media (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px; } }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0); }

.button {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 0;
  border-radius: 25px; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 69px;
  background-color: #1d2631;
  /*
  background: url("/img/iphone-hand-mobile@1x.png") no-repeat $bg_dark_blue;
  background-position: 0 258px;
  */ }
  .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 1px 0 0 #000000;
            box-shadow: 0 1px 0 0 #000000; }

@media (min-width: 1200px) {
  .page-header {
    height: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.main-nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-nav__toogle {
    width: 50px;
    height: 24px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-style: none;
    background: url("/img/icon-menu-burger.svg") no-repeat;
    font-size: 0; }

@media (min-width: 1200px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .main-nav__toogle {
      display: none; } }

.site-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  list-style: none; }
  .site-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    min-height: 63px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #1d2631;
    -webkit-box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
            box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15); }
    .site-list__item a {
      border: 1px solid coral;
      text-decoration: none;
      color: inherit; }

@media (min-width: 1200px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .site-list__item {
      padding-right: 80px;
      font-weight: normal;
      line-height: 1;
      text-align: left;
      text-transform: none; } }

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: #1d2631; }
  .download__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    list-style: none; }
  .download__item {
    margin: 0;
    padding: 0;
    height: 47px;
    width: 56px;
    border: 1px solid coral;
    font-size: 0; }
  .download__icon {
    height: 47px;
    width: 56px;
    border: 1px solid white; }
  .download__icon::before {
    content: "";
    display: block;
    position: relative;
    background: url("/img/logo-apple.svg") no-repeat;
    background-size: 20px 40px;
    top: 0;
    left: 0; }
  .download__icon--apple {
    background-size: 47px 56px; }
  .download__desc {
    text-align: center;
    color: #ffffff; }
  .download__wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.button--download {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  padding-top: 13px; }

.features {
  background-color: #ffffff; }
  .features__slogan {
    padding-top: 20px;
    font-size: 24px;
    line-height: 1;
    text-align: center; }
  .features__wrapper--slogan {
    padding-bottom: 35px; }
  .features__wrapper--list {
    background-color: #f2f2f2; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    list-style: none; }
  .features__item {
    padding-top: 0px; }
  .features__item:last-child {
    min-height: 450px; }
  .features__item:last-child::after {
    content: "";
    display: block;
    position: relative;
    bottom: -20px;
    width: 100%;
    height: 280px;
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat; }
  .features__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  .features__description {
    font-weight: normal;
    text-align: center; }

@media (min-width: 1200px) {
  .features__slogan {
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    text-align: center; }
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .features__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: #000000; }
  .features__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    text-align: center; } }

.page-main {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .page-main__title {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #ffffff; }
  .page-main__wrapper--logo {
    height: 462px;
    width: 320px;
    background: url("/img/bg-back-mobile@1x.jpg") no-repeat #1d2631; }
  .page-main__wrapper--logo::before {
    content: "";
    display: block;
    position: relative;
    width: 320px;
    height: 287px;
    top: 175px;
    background: url("/img/iphone-hand-mobile@1x.png") no-repeat; }
  .page-main__wrapper--title {
    height: 200px;
    width: 320px;
    background: url("/img/bg-back-mobile@1x.jpg") no-repeat #1d2631; }
  .page-main__wrapper--description {
    padding-top: 45px;
    padding-bottom: 50px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page-main__description {
    padding: 0;
    margin: 0;
    line-height: 2.14;
    text-align: center; }

@media (min-width: 660px) {
  .page-main__wrapper--logo {
    height: 729px;
    width: 660px;
    background: url("/img/bg-back-tablet@1x.jpg") no-repeat #1d2631;
    background-size: 660px 729px; }
  .page-main__wrapper--logo::before {
    content: "";
    display: block;
    position: relative;
    width: 660px;
    height: 545px;
    top: 175px;
    background: url("/img/iphone-hand-tablet@1x.png") no-repeat; } }

@media (min-width: 1200px) {
  .page-main__wrapper--logo {
    height: 729px;
    width: 1200px;
    background: url("/img/bg-back-desktop@1x.jpg") no-repeat #1d2631;
    background-size: 1200px 729px; }
  .page-main__wrapper--logo::before {
    content: "";
    display: block;
    position: relative;
    width: 1050px;
    height: 545px;
    top: 175px;
    background: url("/img/iphone-hand-desktop@1x.png") no-repeat; } }

.photo {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .photo__picture {
    padding: 0;
    margin: 0;
    border: 1px solid black; }
  .photo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .photo__item {
    padding: 0;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .photo__item--title {
    margin: 0; }
  .photo__post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding-top: 0;
    padding-left: 20px; }
  .photo__hit {
    background-color: #d22856;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
    text-transform: uppercase; }
  .photo__author-name {
    margin: 0;
    padding: 0;
    font-weight: bold; }
  .photo__date-post {
    text-transform: uppercase;
    font-size: 12px; }
  .photo__comment {
    margin: 0;
    padding: 0; }
  .photo__likes {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
    color: #d22856; }
  .photo__slogan {
    font-weight: normal;
    line-height: 2.14;
    text-align: center; }

@media (min-width: 660px) {
  .photo__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .photo__list__item {
      width: 50%;
      height: 50%; }
    .photo__list__post {
      width: 40%; }
  .photo__comment {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

@media (min-width: 1200px) {
  .photo__list__item {
    width: 300px; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px; }
  .page-footer__logo {
    margin-bottom: 40px; }
  .page-footer__social {
    margin-bottom: 40px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    list-style: none; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .copyright__text {
    font-weight: normal;
    line-height: 1.29; }

/*# sourceMappingURL=style.css.map */
