@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #283645; }

.wrapper {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 660px) {
  .wrapper {
    width: 660px; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.price {
  border: 1px solid red; }

.button {
  margin: 0;
  padding: 0;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 3px #ffffff;
  border-radius: 27px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.6;
  color: #ffffff;
  text-decoration: none;
  text-align: center; }

.page-header {
  background-color: #283645; }
  .page-header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    height: 69px;
    -webkit-box-shadow: 0 1px 0 0 #000000;
            box-shadow: 0 1px 0 0 #000000; }
    .page-header__logo-image {
      padding-top: 22px;
      padding-left: 20px; }

@media (min-width: 660px) {
  .page-header__logo {
    height: 109px; } }

@media (min-width: 1200px) {
  .page-header {
    background-color: rgba(40, 54, 69, 0.7); }
    .page-header__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    height: 69px;
    width: 70px;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
            box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 24px;
    width: 30px;
    height: 4px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@media (min-width: 660px) {
  .main-nav__toggle {
    top: 23px; } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .main-nav__toggle {
      display: none; } }

.site-list {
  margin: 0;
  padding: 0;
  margin-top: 1px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .site-list__item {
    z-index: 2;
    height: 63px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1px;
    background-color: #283645;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
            box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15); }
    .site-list__item a {
      text-decoration: none;
      color: inherit; }
  .main-nav--closed .site-list__item {
    display: none; }

@media (min-width: 1200px) {
  .site-list {
    width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 110px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .site-list__item {
      min-height: 110px;
      background-color: transparent;
      font-weight: normal;
      line-height: 1; } }

.page-main {
  display: block;
  padding: 0;
  position: relative; }
  .page-main::before {
    content: "";
    display: block;
    position: absolute;
    top: -67px;
    height: 462px;
    width: 100%;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    background-size: cover;
    background-position: center 0;
    z-index: -1; }
  .page-main__wrapper--title {
    padding: 0;
    padding-top: 101px;
    min-height: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid coral; }
  .page-main__wrapper--description {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff; }
  .page-main__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    text-align: center; }
  .page-main__description {
    padding: 0;
    margin: 0;
    line-height: 2.14;
    text-align: center; }

@media (min-width: 660px) {
  .page-main::before {
    top: -111px;
    height: 729px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat; }
  .page-main__wrapper--title {
    top: -111px;
    min-height: 330px; }
  .page-main__wrapper--description {
    padding-top: 90px;
    padding-bottom: 80px; }
  .page-main__title {
    font-size: 50px;
    line-height: 1;
    color: #ffffff; }
  .page-main__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67; } }

@media (min-width: 1200px) {
  .page-main::before {
    height: 853px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat; } }

.download {
  padding: 0;
  margin: 0;
  padding-top: 395px; }
  .download__wrapper {
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 31px;
    background-color: #283645; }
    .download__wrapper::before {
      content: "";
      display: block;
      position: absolute;
      top: -286px;
      left: 0;
      width: 320px;
      height: 314px;
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
      z-index: -1; }
  .download__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0 20px;
    margin-top: 32px;
    margin-bottom: 23px;
    list-style: none; }
  .download__item {
    margin: 0;
    padding: 0;
    height: auto; }
  .download__icon {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 0; }
    .download__icon::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      left: 0; }
    .download__icon--apple::before {
      width: 47px;
      height: 56px;
      background: url("../img/logo-apple.svg") no-repeat; }
    .download__icon--android::before {
      width: 43px;
      height: 47px;
      background: url("../img/logo-android.svg") no-repeat; }
    .download__icon--windows::before {
      width: 44px;
      height: 41px;
      background: url("../img/logo-microsoft.svg") no-repeat; }
  .download__desc {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-align: center; }
  .download__slogan {
    display: none; }

@media (min-width: 660px) {
  .download {
    padding: 0;
    margin: 0;
    min-height: 545px;
    background-color: transparent; }
    .download__wrapper {
      min-height: 619px;
      padding-top: 92px;
      padding-right: 340px;
      background-color: transparent; }
      .download__wrapper::before {
        top: 73px;
        left: -20px;
        width: 660px;
        height: 545px;
        background: url("../img/iphone-hand-tablet@1x.png") no-repeat; }
    .download__slogan {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: 34px;
      font-size: 40px;
      line-height: 1.18;
      color: #ffffff;
      text-align: center; }
    .download__list {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 0 28px;
      margin-top: 45px;
      margin-bottom: 39px;
      list-style: none; }
    .download__desc {
      font-size: 18px;
      line-height: 1.33; } }

@media (min-width: 1200px) {
  .download {
    padding-top: 97px;
    min-height: 650px; }
    .download__wrapper {
      padding-top: 0;
      padding-left: 130px;
      padding-right: 770px; }
      .download__wrapper::before {
        top: 0;
        left: 146px;
        width: 1050px;
        height: 645px;
        background: url("../img/iphone-hand-desktop@1x.png") no-repeat; }
    .download__slogan {
      padding-top: 11px;
      margin-bottom: 53px;
      font-size: 50px; }
    .download__list {
      margin-top: 67px;
      margin-bottom: 57px; } }

.features {
  padding: 0;
  margin: 0; }
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .features__wrapper--slogan {
      padding-top: 40px;
      padding-bottom: 33px; }
    .features__wrapper--list {
      padding: 0;
      background-color: #f2f2f2; }
  .features__slogan {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 1.27;
    text-align: center; }
  .features__list {
    padding: 0;
    padding-top: 48px;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .features__item {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .features__item:last-child {
      margin-bottom: 42px; }
      .features__item:last-child::after {
        content: "";
        display: block;
        position: relative;
        bottom: -42px;
        left: 61.5px;
        width: 157px;
        height: 278px;
        background: url("../img/iphone-screen-mobile@1x.png") no-repeat; }
  .features__title {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  .features__description {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-align: center; }

@media (min-width: 660px) {
  .features__wrapper--list {
    position: relative;
    min-height: 481px; }
  .features__wrapper--slogan {
    padding-top: 48px;
    padding-bottom: 48px; }
  .features__wrapper--list::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 21px;
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    z-index: 2; }
  .features__slogan {
    margin: 0;
    line-height: 1.2;
    font-size: 40px; }
  .features__list {
    padding: 0;
    padding-top: 70px;
    padding-left: 300px; }
  .features__item {
    margin-bottom: 34px;
    width: 300px; }
    .features__item:last-child {
      margin-bottom: 20px; }
      .features__item:last-child::after {
        display: none; }
  .features__title {
    text-align: left; }
  .features__description {
    text-align: left; } }

@media (min-width: 1200px) {
  .features__wrapper {
    border: 1px solid black; }
    .features__wrapper--list::before {
      display: none; }
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .features__item {
    width: 300px; }
    .features__item::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 300px;
      height: 361px;
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
      z-index: 2; }
    .features__item--screen1::before {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat; }
    .features__item--screen2::before {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat; }
    .features__item--screen3::before {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat; }
  .features__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center; }
  .features__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    text-align: center; } }

.photo {
  padding: 0;
  margin: 0; }
  .photo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .photo__item {
    padding: 0;
    margin: 0;
    margin-bottom: 20px; }
    .photo__item--title .photo__post {
      width: 280px;
      margin: 0 auto; }
  .photo__picture {
    position: relative;
    padding: 0;
    margin: 0; }
  .photo__image {
    padding: 0;
    margin: 0;
    display: block; }
  .photo__hit {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    background-color: #d22856;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
    text-transform: uppercase; }
  .photo__post {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border: 1px solid coral; }
  .photo__author {
    padding: 0;
    margin: 0; }
  .photo__author-name {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-style: normal; }
  .photo__date-post {
    text-transform: uppercase;
    font-size: 12px; }
  .photo__comment {
    padding: 0;
    margin: 0; }
  .photo__likes {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
    color: #d22856; }
  .photo__wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .photo__slogan {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
    border: 1px solid cornflowerblue; }

@media (min-width: 660px) {
  .photo__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .photo__list .photo__item {
      width: 300px; }
  .photo__item--title .photo__post {
    width: 620px;
    margin: 0 auto; }
  .photo__slogan {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67; } }

@media (min-width: 1200px) {
  .photo__item--title .photo__post {
    width: 1160px;
    margin: 0 auto; } }

.page-footer {
  padding: 0;
  margin: 0; }
  .page-footer__wrapper {
    padding: 0;
    padding: 40px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__link-home {
    padding: 0;
    margin: 0;
    margin-bottom: 40px; }
  .page-footer__logo {
    padding: 0;
    margin: 0;
    display: block;
    border: none; }

@media (min-width: 320px) and (max-width: 660px) {
  .page-footer--none {
    display: none; } }

@media (min-width: 660px) {
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px 20px; }
  .page-footer__link-home {
    padding: 0;
    margin: 0; } }

.social {
  padding: 0;
  margin: 0; }
  .social__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .social__item {
    padding: 0;
    margin: 0;
    margin-right: 11px;
    height: 52px;
    width: 52px; }
    .social__item:last-child {
      margin-right: 0; }
  .social__link {
    padding: 0;
    margin: 0;
    font-size: 0; }
    .social__link::before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      padding: 0;
      margin: 0;
      width: 46px;
      height: 46px;
      opacity: 0.1;
      border: solid 3px #283645;
      border-radius: 50%;
      background-color: #fefefe; }
    .social__link--twitter::before {
      background: url("../img/icon-twitter.svg") no-repeat 19px 15px;
      background-position: center; }
    .social__link--facebook::before {
      background: url("../img/icon-facebook.svg") no-repeat 9px 19px;
      background-position: center; }
    .social__link--youtube::before {
      background: url("../img/icon-youtube.svg") no-repeat 15px 14px;
      background-position: center; }

@media (min-width: 660px) {
  .social__list {
    padding-left: 73px; } }

.copyright {
  padding: 0;
  padding-top: 38px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .copyright__text {
    padding: 0;
    margin: 0;
    margin-right: 14px;
    font-weight: normal;
    line-height: 1.29; }
  .copyright__link {
    padding: 0;
    margin: 0; }
  .copyright__logo {
    padding: 0;
    margin: 0;
    display: block; }

@media (min-width: 660px) {
  .copyright {
    padding: 0;
    padding-top: 12px;
    margin-left: auto; } }

.article-news {
  display: none; }

@media (min-width: 660px) {
  .article-news {
    display: block;
    padding: 0;
    margin: 0;
    min-height: 387px; }
    .article-news__wrapper {
      position: relative;
      padding: 0;
      padding-top: 95px;
      padding-left: 329px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .article-news__wrapper::before {
        content: "";
        display: block;
        position: absolute;
        top: 58px;
        left: 20px;
        width: 238px;
        height: 276px;
        background: url("../img/icon-timer.svg") no-repeat;
        background-size: contain; }
    .article-news__title {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      color: #000000; }
    .article-news__desc {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      font-weight: normal;
      line-height: 1.72; }
    .article-news__link {
      margin: 0;
      padding: 0;
      font-weight: normal;
      color: #d22856; }
      .article-news__link a {
        color: inherit; } }

/*# sourceMappingURL=style.css.map */
