@import "mixins.scss";
@import "variables.scss";

.page-header {
  background-color: $bg_dark_blue;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__logo {
    display: flex;
    padding: 0;
    margin: 0;
    height: 66px + 3px; //+3 'это только для открытого типа
    //opacity: 0.3; это для закрытого типа
    box-shadow: 0 1px 0 0 $color_black;

    &-image {
      display: block;
      width: 75px;
      height: auto;
      padding-top: 22px;
      padding-left: 20px;
      fill: $color_white;

      &:hover {
        fill: $color_red;
      }

      &:active {
        fill: $color_white;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__logo {
      height: 109px;

      &-image {
        padding-top: 26px;
        width: 147px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: rgba($bg_dark_blue, 0.7);

    &__logo-image {
      padding-left: 0;
    }

    &__wrapper {
      flex-direction: row;
      padding: 0 130px;
    }
  }
}
