@font-face {
  font-family: $font-name;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: $font-name;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: $font-name;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: $color_white;
  font-family: $font_name, "Arial", sans-serif;
  font-size: $font-size_base;
  font-weight: $font-weight_base;
  font-style: normal;
  font-stretch: normal;
  line-height: $line-height_base;
  letter-spacing: normal;
  text-align: left;
  color: $color_base;
}
