@import "variables.scss";

@mixin list_none {
  margin: 0;
  list-style: none;
}

@mixin font($size: 18px,  $weight: bold, $color: $color_white,
  $line-height: 1.78, $text-align: center) {
  @if ($size != $font-size_base) {
    font-size: $size;
  }

  @if ($weight != $font-weight_base) {
    font-weight: $weight;
  }

  @if ($line-height != $line-height_base) {
    line-height: $line-height;
  }

  @if ($text-align != $text-align_base) {
    text-align: $text-align;
  }

  @if ($color!= $color_base) {
    color: $color;
  }
}

@mixin link_none {
  text-decoration: none;
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
}

@mixin upper {
  text-transform: uppercase;
}
