@import "variables.scss";

@mixin font($size: 18px,  $weight: bold, $color: $color_white,
  $line-height: 1.78) {

  @if ($size != $font-size_base) {
    font-size: $size;
  }

  @if ($weight != $font-weight_base) {
    font-weight: $weight;
  }

  @if ($line-height != $line-height_base) {
    line-height: $line-height;
  }

  @if ($color!= $color_base) {
    color: $color;
  }
}

@mixin link_none {
  text-decoration: none;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin upper {
  text-transform: uppercase;
}
