@import "mixins.scss";
@import "variables.scss";

@font-face {
  font-family: $font-name;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: $font-name;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: $font-name;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: $color_white;
  font-family: $font_name;
  font-size: $font-size_base;
  font-weight: $font-weight_base;
  font-style: normal;
  font-stretch: normal;
  line-height: $line-height_base;
  letter-spacing: normal;
  text-align: left;
  color: $color_base;
}

.logo-pink-header {
  width: 75px;
  height: 22px;

  &__text {
    transform: translate(-72px, -18px);
  }

  &__glasses-holey,
  &__glasses-full,
  &__star {
    display: none;
  }
}

.logo-pink-footer {
  width: 147px;
  height: 40px;

  &__glasses-full {
    fill: $color_red;
  }

  &__glasses-holey,
  &__star {
    display: none;
  }
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: $tablet-width;
  }

  .logo-pink-header {
    width: 147px;
    height: 40px;

    &__text {
      transform: translate(0, 0);
    }

    &__glasses-full {
      display: inline-block;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-width;
  }

  .logo-pink-header {
    &__glasses-full {
      display: none;
    }

    &__glasses-holey,
    &__star {
      display: inline-block;
    }
  }

  .logo-pink-footer {
    &__glasses-full {
      display: none;
    }

    &__glasses-holey,
    &__star {
      display: inline-block;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

/*
.price {
  border: 1px solid red;
}
*/

.button {
  margin: 0;
  padding: 0;
  height: 55px;

  box-sizing: border-box;
  border: solid 3px $color_white;
  border-radius: 27px;

  @include font(18px, bold, $color_white, 2.6);
  text-decoration: none;
  text-align: center;
}

.slider {
  &__toggles {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    //margin-top: 34px;
  }

  &__toggle {
    padding: 0;
    margin-right: 13px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: block;
      position: relative;
      box-sizing: border-box;

      width: 6px;
      height: 6px;
      opacity: 0.3;
      border: solid 3px transparent;
      border-radius: 50%;
      left: 3px;
      background-color: $color_gray;
    }

    &--active {
      &::before {
        left: 0;
        width: 12px;
        height: 12px;
        border: solid 3px $color_gray;
        background-color: $color_white;
        opacity: 1;
      }
    }
  }
}

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/subtitle.scss";
@import "blocks/donwload.scss";
@import "blocks/features.scss";
@import "blocks/photo.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/article-news.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
