$color_white: #ffffff;
$color_black: #000000;
$color_gray: #283645;
//$color_lite_gray: #dedede;
$bg_lite_gray: #fefefe;
$bg_gray: #f2f2f2;
$bg_dark_blue: #283645;
//$bg_dark_blue: #1d2631;
$bg_white: $color_white;
$color_base: $color_gray;
$color_red: #d22856;
$color_line_table: #e5e5e5;
$color_green: #3dc644;
$color_jade-green: #2aab6d;
$color_jade-green-active: #1c9b5e;
$color_orange: #f25b26;
$font_name: "OpenSans";
$font-size_base: 14px;
$font-weight_base: 300;
$line-height_base: 1.71;
$mobile-width: 320px;
$tablet-width: 660px;
//$desktop-width: 1200px;
$desktop-width: 960px;
$mobile-width-only: $tablet-width - 1px;
$tablet-width-only: $desktop-width - 1px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
