$color_white: #ffffff;
$color_black: #000000;
$color_gray: #283645;
$bg_gray: #f2f2f2;
$bg_dark_blue: #1d2631;
$bg_white: $color_white;
$color_base: $color_gray;
$color_red: #d22856;
$font_name: "OpenSans";
$font-size_base: 14px;
$font-weight_base: 300;
$line-height_base: 1.71;
$text-align_base: "left";
